{{ define "home/index" }}

<!DOCTYPE html>
<html lang="en">
    {{ template "header" }}
    <body>
        {{ template "navigation" }}
        <div class="content">
            <div class="login-box auth0-box before">
                <img src="https://i.cloudup.com/StzWWrY34s.png" />
                <h3>Auth0 Example</h3>
                <p>Zero friction identity infrastructure, built for developers</p>
                <a class="btn btn-primary btn-lg btn-block" href="/login">SignIn</a>
            </div>
        </div>
    </body>
</html>

{{end}}